html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.background-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(#141e30, #243b55);
}

.gradient-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 120px;
}

/****** PAGINA DE INDEX ******/
.perfil-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.card-box {
  width: 100%;
  /* Alterado para 100% para se adaptar a diferentes larguras de tela */
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  background: rgba(0, 0, 0, .5);
  color: #fff;
}

.perfil-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.perfil-info {
  display: flex;
  flex-wrap: wrap;
  /* Quebrar em várias linhas se não couberem em uma única linha */
  justify-content: center;
  /* Centralizar os itens horizontalmente */
}

.perfil-info img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-profile {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.img-profile::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  border-radius: 50%;
  border: 3px solid rgba(3, 233, 244, 0.5);
  animation: neon 1.5s ease-in-out infinite alternate;
}

.img-profile img {
  position: relative;
  z-index: 2;
  border: 3px solid transparent;
}

.perfil-details {
  margin-left: 20px;
}

.perfil-details p {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.perfil-details p span {
  font-size: 0.8rem;
  margin-left: 1px;
}

.perfil-subtitle {
  text-align: center;
}

.perfil-subtitle h4 {
  font-size: 18px;
}

.perfil-subtitle hr {
  border-bottom: 0.5px solid #03e9f4;
  width: auto;
  margin-top: 5px;
  margin-bottom: 15px;
}

.perfil-bio-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.perfil-bio {
  margin: 0;
  text-align: left;
  white-space: pre-wrap;
}

.perfil-bio span {
  display: block;
}

/****** DESIGNER DOS FORMULÁRIOS ******/
.white-text {
  color: #fff;
}

.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 350px;
  padding: 40px;
  transform: translate(-50%, -50%);
  z-index: 1;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  background: rgba(0, 0, 0, .5);
  color: #fff;
}

.form-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.form-box .user-box {
  position: relative;
}

.form-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.form-box .user-box input:valid,
.form-box .user-box input:valid {
  background-color: #E8F0FE;
  color: #000;
  font-size: 12px;
  padding-left: 5px;
}

.form-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.form-box .user-box input:focus~label,
.form-box .user-box input:valid~label {
  top: -35px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.form-box .user-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.form-box .user-box textarea:focus~label,
.form-box .user-box textarea:valid~label {
  top: -35px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.form-box .user-box textarea:valid {
  background-color: #E8F0FE;
  color: #000;
  font-size: 12px;
  padding-left: 5px;
}

.custom-btn {
  position: relative;
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.custom-btn:hover {
  background: #03e9f4;
  color: #fff;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.custom-btn span {
  position: absolute;
  display: block;
}

.custom-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

.custom-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

.custom-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}


.custom-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}


.password-toggle {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle i {
  color: #fff;
}

.password-toggle i:hover {
  color: #ccc;
}

.form-edit {
  max-width: 600px;
  margin-top: 150px;
}

/****** EDITAR PERFIL ******/
#alterar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#alterar-overlay p {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 50%;
}

.rounded-circle:hover #alterar-overlay {
  display: block;
}

label#imagem_label {
  cursor: pointer;
}

/****** NAVBAR ******/
.navbar {
  background: linear-gradient(#141e30, #243b55);
  padding: 0;
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
  transition: padding 0.3s, box-shadow 0.3s;
  height: 10vh;
}

.navbar-brand {
  color: #fff;
}

.navbar .nav-item {
  margin-right: 10px;
}

.logout-icon {
  font-size: 24px;
}

.navbar-nav {
  margin-left: auto;
}

/****** ANIMAÇÕES ******/
/* Animação Campos forms */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Animação Image */
@keyframes neon {
  from {
    border-color: rgba(3, 233, 244, 0.5);
    box-shadow: 0 0 5px rgba(3, 233, 244, 0.5);
  }

  to {
    border-color: rgba(3, 233, 244, 1);
    box-shadow: 0 0 15px rgba(3, 233, 244, 1);
  }
}

/* Animação button */
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

/****** MEDIA QUERY ******/

@media (max-width: 998px) {
  .navbar-collapse {
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    background-color: #243b55;
    z-index: 1000;
    padding: 20px;
    display: none;
  }

  .navbar-collapse.show {
    margin-top: 9vh;
    transform: translateX(0%);
    display: block;
  }

  .navbar-nav {
    height: 100%;
    padding-top: 60px;
  }

  .navbar-nav .nav-link {
    color: #fff;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .close-btn {
    top: 15px;
    right: 15px;
    font-size: 24px;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-toggler.collapsed .navbar-toggler-icon::after {
    content: "\00D7";
  }
}

@media (max-width: 768px) {
  .form-box {
    width: 90%;
  }

  .curriculum-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .curriculum-info img {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .form-box {
    padding: 20px;
  }
}